<div class="row">

  <div class="col-md-3">
	  <%= image_tag "station.svg" %><br>
  	<h2><%= link_to 'Станции', admin_railway_stations_path %></h2>
  </div>

  <div class="col-md-3">
  	<%= image_tag "train.svg" %><br>
    <h2> <%= link_to 'Поезда', admin_trains_path %></h2>
  </div>

  <div class="col-md-3">
  	<%= image_tag "route.svg" %><br>
  	<h2><%= link_to 'Маршруты', admin_routes_path %></h2>
  </div>

  <div class="col-md-3">
  	<%= image_tag "search.svg" %><br>
  	<h2><%= link_to 'Поиск билета', root_path %></h2>
  </div>
  
</div>





