<h1>Список маршрутов</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
 
  <tbody>
    <% @route.each do |route| %>
      <tr>
        <td>
          <div id="route_title_<%= route.id %>">
            <%= route.title %>
          </div>
          <%= render 'form', route: route, hidden: true %>
        </td>
        <td><%= link_to 'Показать', [:admin, route] %></td>
        <td><%= link_to 'Редактировать', '', class: 'edit_route', data: { route_id: route.id } %></td>
        <td><%= link_to 'Удалить', [:admin, route],
                method: :delete,
                data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Создать', new_admin_route_path %>
