<%= form_for(@train) do |f| %>

<%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

  <div class="field">
  	<%= f.label :route, "Назначить маршрут" %>
	  <%= f.collection_select :route_id, Route.all, :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
