<%= form_for(@train) do |f| %>

  <%= render 'common/errors', resource: @train %>

    <div class="field">
      <%= f.label :number %><br>
      <%= f.number_field :number %>
    </div>

    <div class="field">
    	<%= f.label :route, "Назначить маршрут" %>
  	  <%= f.collection_select :route, Route.all, :id, :title %>
    </div>

    <div class="field">
      <%= label_tag :is_head, "C головы" %>
      <%= check_box_tag :is_head %>

      <%= label_tag :tail, "C хвоста" %>
      <%= check_box_tag :tail %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
