<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>  
</p>

<p>
  <%= link_to "Добавить вагон", new_train_carriage_path(@train) %>
</p>

<p>
  <strong>Вагоны</strong>

  <ul>
  <% if @train.is_head? %>
    <% @train.carriages.order(:number).each do |car| %>      
      <li><%= link_to "Вагон №#{car.number}", car %></li>
    <% end %>
  <% else %>
    <% @train.carriages.order(number: :desc).each do |car| %>
      <li><%= link_to "Вагон №#{car.number}", car %></li>
    <% end %>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %> |
<%= link_to 'Home', welcome_index_path %>
