<h1>Список пользователей</h1>

<table>
  <tr>
    <th>Имя</th>
  </tr>
 
  <% @user.each do |user| %>
    <tr>
      <td><%= user.title %></td>
      <td><%= link_to 'Показать', user_path(user) %></td>
      <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
      <td><%= link_to 'Удалить', user_path(user), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Создать', new_user_path %> /
<%= link_to 'Главная', welcome_index_path %>
