<p><%= link_to 'Create Station', railway_stations_path %></p>
<p><%= link_to 'Create Train', trains_path %></p>
<p><%= link_to 'Create Route', routes_path %></p>
<p><%= link_to 'Create Ticket', tickets_path %></p>
<p><%= link_to 'Create User', users_path %></p>
