<%= form_for [@user, @ticket] do |f| %>
 
  <%= render 'common/errors', resource: @ticket %>
   
  <p>
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :fio %><br>
    <%= f.text_field :fio %>
  </p>

  <p>
    <%= f.label :passport %><br>
    <%= f.text_field :passport %>
  </p>

  <p>
    <%= f.submit t('.submit', action: @ticket.new_record? ? 'Создать' : 'Изменить')%>
  </p>
 
<% end %>