<%= form_for [@user, @ticket] do |f| %>
 
  <%= render 'common/errors', resource: @ticket %>
   
  <p>
    <%= f.label :number, 'Номер' %><br>
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :fio, 'ФИО' %><br>
    <%= f.text_field :fio %>
  </p>

  <p>
    <%= f.label :passport, 'Паспорт' %><br>
    <%= f.text_field :passport %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>