<h1>Listing Ticket</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @ticket.each do |ticket| %>
    <tr>
      <td><%= ticket.number %></td>
      <td><%= link_to 'Show', ticket_path(ticket) %></td>
      <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      <td><%= link_to 'Destroy', ticket_path(ticket),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New ticket', new_ticket_path %> |
<%= link_to 'Home', welcome_index_path %>
