<h1>Список билетов</h1>

<table class="table table-striped table-hover ">
 <thead>
  <tr>
    <th>Номер</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
 <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.number %></td>
      <td><%= link_to 'Показать', ticket_path(ticket) %></td>
      <td><%= link_to 'Удалить', ticket_path(ticket),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'Создать', new_ticket_path %> /
<%= link_to 'Главная', root_path %>
