<%= form_for [@train, @carriage] do |f| %>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :lower_places %><br>
      <%= f.number_field :lower_places %>
    </div>

    <div class="field">
      <%= f.label :type_car %><br>
      <%= f.text_field :type_car %>
    </div>

    <div class="actions">
      <%= f.submit "Создать" %>
    </div>
    <% end %>