
<h1>Вагон №<%= @carriage.number %></h1>

<p>
  Поезд: <%= @carriage.train.number %>
</p>

<p>
  Верхних сидений: <%= @carriage.up_places %>
</p>

<p>
  Нижних сидений: <%= @carriage.lower_places %>
</p>

<p>
  Тип: <%= @carriage.type %>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> 
<%= link_to 'Back', carriage_path %>
