<%= form_for [:admin, @ticket] do |f| %>
 
  <%= render 'common/errors', resource: @ticket %>
   
  <p>
    <%= f.text_field :number, class: "form-control", placeholder: "Номер" %>
  </p>

  <p>
    <%= f.text_field :fio, class: "form-control", placeholder: "ФИО" %>
  </p>

  <p>
    <%= f.text_field :passport, class: "form-control", placeholder: "Данные паспорта" %>
  </p>

  <p>
    <%= f.submit t('.submit', action: @ticket.new_record? ? 'Создать' : 'Изменить'), class: "btn btn-default"%>
  </p>
 
<% end %>