<h1>Список билетов</h1>

<table>
  <tr>
    <th>Название</th>
  </tr>
 
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.number %></td>
      <td><%= link_to 'Показать', [:admin, ticket] %></td>
      <td><%= link_to 'Редактировать', edit_admin_ticket_path(ticket) %></td>
      <td><%= link_to 'Удалить', [:admin, ticket],
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Создать', new_ticket_path %> /
<%= link_to 'Главная', welcome_index_path %>
