
<h1>Вагон №<%= @carriage.number %></h1>

<p>
  Поезд: <%= @carriage.train.number %>
</p>

<p>
  <%= t('.up_places') %>
</p>

<p>
  <%= t('.lower_places') %>
</p>

<p>
  <%= t('.sit_places') %>
</p>

<p>
  <%= t('.side_up_places') %>
</p>

<p>
  <%= t('.side_lower_places') %>
</p>

<p>
  Тип: <%= @carriage.type_car %>
</p>

<%= link_to 'Назад', admin_trains_path %> /
<%= link_to 'Главная', welcome_index_path %>
