<%= form_for(@route) do |f| %>

<%= render 'common/errors', resource: @route %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <div class="field">
  	<%= f.label :train, "Поезд" %>
    <%= f.collection_select :train_ids, Train.all, :id, :number %>
  </div>

   <div class="field">
    <%= f.label :railway_station_ids, "Поезд" %>
    <%= f.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>