<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Станциии в маршруте:</strong>
  <% if @route.railway_stations.empty? %>
  <p>Станций нет</p>
  	<% else %>
  	<% @route.railway_stations.each do |st| %>
  <li><%= st.title %></li>
 	<%end%>
 <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> 
<%= link_to 'Back', routes_path %>
<%= link_to 'home', welcome_index_path %>
