<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>  
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Не указан
  <% end %>
</p>

<p>
  <%= link_to "Добавить вагон", new_admin_train_carriage_path(@train) %>
</p>

<p>
  <strong>Вагоны</strong>

  <ul>
    <% if @train.is_head? %>
      <% @train.carriages.order(:number).each do |car| %>      
        <li><%= link_to "Вагон №#{car.number}", [:admin, car] %></li>
      <% end %>
    <% else %>
      <% @train.carriages.order(number: :desc).each do |car| %>
        <li><%= link_to "Вагон №#{car.number}", [:admin, car] %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<%= link_to 'Редактировать', edit_admin_train_path(@train) %> /
<%= link_to 'Назад', admin_trains_path %>